body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(252,252,252);
}
header{
    font-size:50px;
    font-family: 微软雅黑;
    text-align: center;
    background-color: cornflowerblue;
    padding: 5px;
    color:white;
}
main{
    margin: 20px;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    padding:10px;
    background-color: black;
    color:white;
    text-align: center;
}